body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #007acc;
  color: #fff;
  text-align: center;
  padding: 20px;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#email-validation form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email-validation label {
  margin-bottom: 10px;
}

#email-validation input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007acc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #005f9e;
}

#candidates h2 {
  margin-top: 20px;
}

.candidate {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.candidate img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.candidate button {
  background-color: #007acc;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.candidate button:hover {
  background-color: #005f9e;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #007acc;
  color: #fff;
  border-top: 2px solid #005f9e;
}